name: Build All Packages

on:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build-deb:
    uses: ./.github/workflows/build-deb.yml

  build-flatpak:
    uses: ./.github/workflows/build-flatpak.yml
